<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>P5_s831_Mastermind</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <listener>
  <description>HttpSessionListener</description>
  <listener-class>edu.metrostate.ics425.p5.sc831.servlet.MastermindSessionListener</listener-class>
 </listener>
 
  <servlet>
  	<servlet-name>AddGuess</servlet-name>
  	<servlet-class>edu.metrostate.ics425.p5.sc831.servlet.AddGuessServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>AddGuess</servlet-name>
  	<url-pattern>/addGuess</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>ResetGameServlet</servlet-name>
  <servlet-class>edu.metrostate.ics425.p5.sc831.servlet.ResetGameServlet</servlet-class>
 </servlet>
 
 <servlet-mapping>
  <servlet-name>ResetGameServlet</servlet-name>
  <url-pattern>/resetGame</url-pattern>
 </servlet-mapping>
 
  <session-config>
  <session-timeout>30</session-timeout>
 </session-config>
  
</web-app>